{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}
{% block nav_color %}rgb(0, 79, 158){% endblock %}
{% block nav_font_color %}navbar-dark{% endblock %}
{% load static %}
    {% block nav_block %}
        <li class="nav-item   ">
            <a class="nav-link" href="{% url 'users:login' %}"> <span><i class="fas fa-sign-in-alt"></i></span> Login</a>
        </li>
        <li class="nav-item  {% block logein_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'users:register' %}"> <span><i class="fas fa-user-plus"></i></span> sign up</a>
        </li>
    {% endblock %}

{% block body %}

    <div class="content-section">
        <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="border-bottom mb-4">
                    Reset your password
                </legend>
                {{ form|crispy }}

            </fieldset>


            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Send Reset
                </button>
            </div>
        </form>

    </div>

{% endblock %}
























