{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Confirm Password{% endblock %}
{% block nav_color %}rgb(0, 79, 158){% endblock %}
{% block nav_font_color %}navbar-dark{% endblock %}
{% load static %}
    {% block nav_block %}

    {% endblock %}

{% block body %}

    <div class="content-section">
        {% if validlink %}
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group" >
                    <legend class="border-bottom mb-4">
                        Reset your password
                    </legend>
                    {{ form|crispy }}

                </fieldset>


                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Save
                    </button>
                </div>
            </form>
        {% else %}
            <div class="alert alert-danger mt-2" role="alert">
                <h5 class="alert-heading">
                    <legend class="border-bottom mb-4">
                        Invalid link.
                        <hr>
                    </legend>

                </h5>
                <p class="my-3">The link either expired or wrongly entered.</p>
            </div>

            <a class="btn btn-info my-auto" href="{% url 'password_reset' %}">Resend password reset request</a>
        {% endif %}

    </div>

{% endblock %}