{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Reset Done{% endblock %}
{% block nav_color %}rgb(0, 79, 158){% endblock %}
{% block nav_font_color %}navbar-dark{% endblock %}
{% load static %}
    {% block nav_block %}
        <li class="nav-item   ">
            <a class="nav-link" href="{% url 'users:login' %}"> <span><i class="fas fa-sign-in-alt"></i></span> Login</a>
        </li>
        <li class="nav-item  {% block logein_active %}{% endblock %}">
            <a class="nav-link" href="{% url 'users:register' %}"> <span><i class="fas fa-user-plus"></i></span> sign up</a>
        </li>
    {% endblock %}

{% block body %}

    <div class="content-section">
        <legend class="border-bottom mb-4">
            Password reset sent
        </legend>
        <div class="alert alert-success mt-2" role="alert">
            <h5 class="alert-heading">
                We've emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.If you don't receive an email, please make sure you've entered
                the address you registered with, and check your spam folder.
            </h5>
        </div>

    </div>

{% endblock %}