<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="{% static 'fav_icon.png' %}">

    <title>AI Proctor</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{% static 'classes/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'classes/css/responsive.css' %}" rel="stylesheet">
    {#<link rel="icon" href="#" type="image/x-icon">#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="{% static 'template/html2canvas.min.js' %}"></script>
</head>

<!-- page wrapper -->
<body class="boxed_wrapper">
 
    <!-- main header -->
    <header class="main-header">

        <!-- Header upper -->
        <div class="header-upper">
            <div class="container">
                <div class="outer-box clearfix">
                    <div class="float-left">
                        <figure class="logo-box"><a href="{% url 'home:home' %}"><img src="{% static 'classes/images/logo.png' %}" alt="" title=""></a></figure>
                    </div>
                    <div class="float-right upper-right clearfix">
                        <div class="nav-outer clearfix">
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->      
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="{% url 'home:home' %}">Home</a></li>
                                        <li><a href="{% url 'download:home' %}">Download</a></li>
                                        {% if user.is_authenticated %}
                                            <li class="current"><a href="{% url 'classes:classes' %}">Classes</a></li>
                                            <li><a href="{% url 'dashboard:dashboard' %}">Account</a></li>
                                            <li class="log-btns"><a href="{% url 'users:logout' %}">Logout</a></li>
                                        {% else %}
                                            <li class="log-btns"><a href="{% url 'users:login' %}">Login</a></li>
                                            <li class="log-btns"><a href="{% url 'users:register' %}">Sign Up</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container">
                <div class="clearfix">
                    <!--Logo-->
                    <div class="logo float-left">
                        <a href="{% url 'home:home' %}" class="img-responsive"><img src="{% static 'classes/images/logo.png' %}" alt="" title=""></a>
                    </div>
                    
                    <!--Right Col-->
                    <div class="right-col float-right">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-collapse collapse clearfix">
                            	<ul class="navigation clearfix">
                            	    <li><a href="{% url 'home:home' %}">Home</a></li>
                                    <li><a href="{% url 'download:home' %}">Download</a></li>
                                        {% if user.is_authenticated %}
                                            <li class="current"><a href="{% url 'classes:classes' %}">Classes</a></li>
                                            <li><a href="{% url 'dashboard:dashboard' %}">Account</a></li>
                                            <li class="log-btns"><a href="{% url 'users:logout' %}">Logout</a></li>
                                        {% else %}
                                            <li class="log-btns"><a href="{% url 'users:login' %}">Login</a></li>
                                            <li class="log-btns"><a href="{% url 'users:register' %}">Sign Up</a></li>
                                        {% endif %}
                            	</ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>
                </div>
                    
                
            </div>
        </div>
        <!--End Sticky Header-->
    </header>

    <!--Form Back Drop-->
    <div class="form-back-drop"></div>
 
	 <!-- page-title -->
    <section class="page-title centred inner-head event-head" style="background-image: url({% static 'classes/images/login-head-bg.jpg' %})">
        <div class="container">
            <div class="content-box">
                <h1>Stream</h1>
            </div>
        </div>
    </section>
    <!-- page-title end -->

    <div   id="jitsi-container" style="min-height: 100vh">
    </div>



<!-- jequery plugins -->
<script src="{% static 'classes/js/jquery.js' %}"></script>
<script src="{% static 'classes/js/popper.min.js' %}"></script>
<script src="{% static 'classes/js/bootstrap.min.js' %}"></script>

<script src="{% static 'classes/js/owl.js' %}"></script>
<script src="{% static 'classes/js/wow.js' %}"></script>
<script src="{% static 'classes/js/validation.js' %}"></script>
<script src="{% static 'classes/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'classes/js/appear.js' %}"></script>
<script src="{% static 'classes/js/aos.js' %}"></script>
<script src="{% static 'classes/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'classes/js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'classes/js/jquery.datetimepicker.full.min.js' %}"></script>
<!-- main-js -->
<script src="{% static 'classes/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src='https://meet.jit.si/external_api.js'></script>
  	
<script>

    window.onload = function() {

        var container = document.querySelector('#jitsi-container');


        var domain = "meet.jit.si";
        var options = {
            "roomName": "{{ room_name }}",
            "parentNode": container,
            "width": "100%",
            "height": 1000,
        };
        api = new JitsiMeetExternalAPI(domain, options);
    };




</script>

</body><!-- End of .page_wrapper -->

</html>
