<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="shortcut icon" href="{% static 'fav_icon.png' %}">

<title>AI Proctor</title>

<!-- Stylesheets -->
<link href="{% static 'home/css/style_v1.css' %}" rel="stylesheet">
<link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">
<link rel="icon" href="#" type="image/x-icon">

</head>

<!-- page wrapper -->
<body class="boxed_wrapper">
 
    <!-- main header -->
    <header class="main-header">

        <!-- Header upper -->
        <div class="header-upper">
            <div class="container">
                <div class="outer-box clearfix">
                    <div class="float-left">
                        <figure class="logo-box"><a href="{% url 'home:home' %}"><img src="{% static 'home/images/logo.png' %}" alt="" title=""></a></figure>
                    </div>
                    <div class="float-right upper-right clearfix">
                        <div class="nav-outer clearfix">
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->      
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="{% url 'home:home' %}">Home</a></li>
                                        <li><a href="{% url 'download:home' %}">Download</a></li>

                                        {% if user.is_authenticated %}
                                            <li><a href="{% url 'classes:classes' %}">Classes</a></li>
                                            <li><a href="{% url 'dashboard:dashboard' %}">Account</a></li>
                                            <li class="log-btns"><a href="{% url 'users:logout' %}">Logout</a></li>
                                        {% else %}
                                            <li class="log-btns"><a href="{% url 'users:login' %}">Login</a></li>
                                            <li class="log-btns"><a href="{% url 'users:register' %}">Sign Up</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </nav><!-- Main Menu End-->      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="container">
                <div class="clearfix">
                    <!--Logo-->
                    <div class="logo float-left">
                        <a href="{% url 'home:home' %}" class="img-responsive"><img src="{% static 'home/images/logo.png' %}" alt="" title=""></a>
                    </div>
                    
                    <!--Right Col-->
                    <div class="right-col float-right">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-lg">
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                	<li class="current"><a href="index.html">Home</a></li>
                                    <li><a href="{% url 'download:home' %}">Download</a></li>

                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'classes:classes' %}">Classes</a></li>
                                	    <li><a href="{% url 'dashboard:dashboard' %}">Account</a></li>
                                        <li class="log-btns"><a href="{% url 'users:logout' %}">Logout</a></li>
                                    {% else %}
                                        <li class="log-btns"><a href="{% url 'users:login' %}">Login</a></li>
                                        <li class="log-btns"><a href="{% url 'users:register' %}">Sign Up</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>
                </div>
                    
                
            </div>
        </div>
        <!--End Sticky Header-->
    </header>


    <!--Form Back Drop-->
    <div class="form-back-drop"></div>
 
	
   <!-- banner-style-three -->
    <section class="banner-style-three" style="background-image: url({% static 'home/images/background/banner-3.png' %});">
        <div class="container clearfix">
            <div class="inner-box">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 image-column">
                        <div class="content-box" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000">
                            <h1>AI Proctor</h1>
                            <div class="text">A Proctoring System Powered by Artificial Intelligence!</div>
                            <div id="vid_link">Click Open on the dialog shown by your browser <br> <br>
                                                If you don’t see a dialog, click Launch Client below</div>
                            <br>
                            <button class="btn-lg mx-5" onclick="function start_client() {
                                window.open('{{ generated_link }}','_self');
                            }
                            start_client()">Launch Client</button>
                        </div>
                    </div>
                </div>


                <br>

                <div class="row">
                    <div class="vid_link">
                        <h3 style="color: aliceblue; text-decoration: underline;">Download AI-Proctor PC program</h3>
                         
                        <br>
                        <p class="vid_link">For Windows &nbsp;
                            <i class="fab fa-windows"></i> &nbsp; v1.0.2.0</p>
                        <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/15SjH-yUAblyMtaNYb1uPuEVxMeO_st8W/view?usp=sharing" >
                            From here &nbsp; <i class="fab fa-windows"></i>  
                        </a>
                        <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/1OWj-S7W1B8N7qobnobpz8JEmCiOow1A1/view?usp=sharing" >
                            Or from here &nbsp; <i class="fab fa-windows"></i>  
                        </a>
                        <br>
                        <br>
                        <p class="vid_link">For Mac OS &nbsp;
                            <i class="fab fa-apple"></i>  &nbsp; v1.0.2.0</p>
                         
                        <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/17mmP3j500A1hEsf4ZfHSJZqr06k-V1AE/view?usp=sharing" >
                            From here &nbsp;
                            <i class="fab fa-apple"></i> 
                        </a>
                        <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/1g8hYMnnO8LbtCwnBiyBVe2bPoMXgAAv6/view?usp=sharing" >
                            Or from here &nbsp; 
                            <i class="fab fa-apple"></i> 
                        </a>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="vid_link">
                        <h3 style="color: aliceblue; text-decoration: underline;">AI-Proctor PC Testing Tool</h3>
                        <br>
                        <p class="vid_link">For Windows &nbsp;
                            <i class="fab fa-windows"></i> &nbsp; v1.0.1.6</p>
                        <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/1tF742fCS1y0suOkgzgppvBlElKhjwzXp/view?usp=sharing" >
                            From here &nbsp; <i class="fab fa-windows"></i>  
                        </a>
                        <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/1im2N1RhdZO0RHP5cJECq_XF5KC3pfDXg/view?usp=sharing" >
                            Or from here &nbsp; <i class="fab fa-windows"></i>  
                        </a>
                        <br>
                        <br>
                        <p class="vid_link">For Mac OS &nbsp;
                            <i class="fab fa-apple"></i>  &nbsp; v1.0.1.6</p>
                             
                            <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/1MaGolVRLBH7ujOBUfltQ0J5rKBl0bYZ0/view?usp=sharing" >
                                From here &nbsp;
                                <i class="fab fa-apple"></i> 
                            </a>
                            <a type="button" class="btn btn-dark btn-sm" href="https://drive.google.com/file/d/1JevTSywrSU55kByqwdTnJJuDLPJIzrIA/view?usp=sharing" >
                                Or from here &nbsp; 
                                <i class="fab fa-apple"></i> 
                            </a>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="vid_link">
                        <h3 style="color: aliceblue; text-decoration: underline;">AI-Proctor Android mobile companion</h3>
                        
                        <br>
                        <a type="button" class="btn btn-success btn-sm" href="https://play.google.com/store/apps/details?id=com.ai_proctor.ai_proctor" >
                            Get it from here &nbsp;
                            <i class="fab fa-android"></i>
                        </a>

                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="vid_link">

                        <h3 style="color: aliceblue; text-decoration: underline;">AI-Proctor Chrome extension</h3>
                         
                        <br>
                        <a type="button" class="btn btn-danger btn-sm" href="https://chrome.google.com/webstore/detail/ai-proctor-moodle/nbhdcdolapnpbccipdpagdlgbhgpkjpd" >
                            Get it from here &nbsp;
                            <i class="fab fa-chrome"></i>
                        </a>

                    </div>
                </div>


                <div class="image-box" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000">
                    <figure class="image flot-bob-y"><img src="{% static 'home/images/banner-img-4.png' %}" alt=""></figure>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-style-three end -->
	<br>
	<br>
	<br>


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="footer-bottom">
            <div class="large-container clearfix">
				<div class="row">
					<div class="col-lg-12 text-center">
                		<div class="left-content">
                		    <div class="copyright">To try the application, please send to <a href="mailto:info@techibees.com">info@techibees.com</a></div>
                		</div>
					</div>
				</div>
            </div>                
        </div>
    </footer>
   <!-- main-footer end -->



<!--Scroll to top-->



<!-- jequery plugins -->
<script src="{% static 'home/js/jquery.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>

<script src="{% static 'home/js/owl.js' %}"></script>
<script src="{% static 'home/js/wow.js' %}"></script>
<script src="{% static 'home/js/validation.js' %}"></script>
<script src="{% static 'home/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'home/js/appear.js' %}"></script>
<script src="{% static 'home/js/aos.js' %}"></script>
<script src="{% static 'home/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'home/js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'home/js/jquery.datetimepicker.full.min.js' %}"></script>
<!-- main-js -->
<script src="{% static 'home/js/script.js' %}"></script>
<script>
    window.onload = function() {
        window.open('{{ generated_link }}',"_self");
    };
</script>

</body><!-- End of .page_wrapper -->

</html>
